<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>WebHookServlet</servlet-name>
        <servlet-class>com.appspot.blacktenure188118.servlets.WebHookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>com.appspot.blacktenure188118.servlets.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CronServlet</servlet-name>
        <servlet-class>com.appspot.blacktenure188118.servlets.CronServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebHookServlet</servlet-name>
        <url-pattern>/webhook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CronServlet</servlet-name>
        <url-pattern>/cron</url-pattern>
    </servlet-mapping>













    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>com.appspot.blacktenure188118.system.OfyHelper</listener-class>
    </listener>

</web-app>